@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply p-2 bg-ultraGray border text-white font-inter px-4 text-sm hover:text-gray-500 duration-300;
  }
  .col-center {
    @apply flex flex-col items-center justify-center;
  }
  .row-center {
    @apply flex flex-row items-center justify-center;
  }
}

.carbonBg {
  background-image: url("../public/backgrounds/micro_carbon.png");
}

@font-face {
  font-family: inter;
  src: url("../public/font/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Unbounded;
  src: url("../public/font/Unbounded/Unbounded-VariableFont_wght.ttf");
}

.sdf {
  color: rgba(189, 211, 197, 0.233);
}

.flip {
  text-align: center;
  perspective: 600px;
}
.flip-content {
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
/* .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.3s;
} */

.flip-content1 {
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.flip-front,
.flip-back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 150px;
  backface-visibility: hidden;
}
.flip-back {
  transform: rotateY(180deg);
}

.radialPattern {
  background: repeating-radial-gradient(
      circle,
      transparent,
      transparent 10.5px,
      #242424 10.5px,
      #242424 13.5px
    ),
    repeating-radial-gradient(
      circle,
      transparent,
      transparent 10.5px,
      #242424 10.5px,
      #242424 13.5px
    ),
    rgba(255, 71, 71, 0);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px, 60px 30px;
  background-color: rgba(255, 71, 71, 0);
}

.radialPatternLight {
  background: repeating-radial-gradient(
      circle,
      transparent,
      transparent 11.2px,
      #eeeeee 11.2px,
      #eeeeee 14.4px
    ),
    repeating-radial-gradient(
      circle,
      transparent,
      transparent 11.2px,
      #eeeeee 11.2px,
      #eeeeee 14.4px
    ),
    rgba(71, 212, 255, 0);
  background-size: 64px 64px;
  background-position: 0 0, 32px 32px, 64px 32px;
  background-color: rgba(71, 212, 255, 0);
}

::-webkit-scrollbar {
  width: 0.5em !important;
  height: 0.6em;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(156 163 175) !important;
  outline: 1px solid rgba(112, 128, 144, 0) !important;
  border-radius: 10px !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
